<div class="row">
  <div class="col-md-10 jumbotron col-md-offset-1">
    <div class="row">
      <h4> Servicios Registrados para <%= @user.full_name %> </h4>
      <div class="table-striped table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>
                Fecha
              </th>
              <th>
                Dispositivo
              </th>
              <th>
                Costo
              </th>
              <th>
                Técnico
              </th>
              <th>
                Comentario
              </th>
              <th>
                Próxima Revisión
              </th>
              <th>
                ¿Realizada?
              </th>
            </tr>
          </thead>
          <tbody>
            <% @services.each do |service|%>
              <tr>
                <td><%= service.registered_at.strftime("%d/%m/%Y") %></td>
                <td><%= link_to service.appliance_model,
                        appliance_path(id: service.appliance.id),
                        method: :get %></td>
                <td><%= service.cost %></td>
                <td><%= service.technician_name %></td>
                <td><%= service.comments %></td>
                <td><%= service.next_service_date.try(:strftime, "%d/%m/%Y") %></td>
                <td>
                  <% if service.may_complete? %>
                    <%= link_to "Completar", "/services/#{service.id}/complete", method: :put %>
                  <% else %>
                    <%= link_to "Descompletar", "/services/#{service.id}/uncomplete", method: :put %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% if @user.appliances.ids.present?  %>
      <div class="row text-right">
        <%= link_to "Registrar Servicio",
            new_user_service_path(user_id: @user.id),
            class: 'btn btn-success'%>
      </div>
    <% end %>
  </div>
</div>
