<div class="row">
  <div class="col-md-10 jumbotron col-md-offset-1">
    <div class="row">
      <h4> Servicios Registrados para <%= @user.full_name %> </h4>
      <div class="table-striped table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>
                Fecha
              </th>
              <th>
                Dispositivo
              </th>
              <th>
                Costo
              </th>
              <th>
                Comentario
              </th>
              <th>
                Próxima Revisión
              </th>
            </tr>
          </thead>
          <tbody>
            <% @services.each do |service|%>
              <tr>
                <td><%= service.registered_at.strftime("%d/%m/%Y") %></td>
                <td><%= link_to service.appliance_model,
                        appliance_path(id: service.appliance.id),
                        method: :get %></td>
                <td><%= service.cost %></td>
                <td><%= service.comments %></td>
                <td><%= service.next_service_date.try(:strftime, "%d/%m/%Y") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% if current_user.is_admin?  %>
      <div class="row">
        <div class="col-md-2 button-opt">
          <%= link_to "Registrar Nuevo",
              new_user_service_path(user_id: @user.id),
              class: 'btn btn-success'%>
        </div>
        <div class="col-md-10">
        </div>
      </div>
    <% end %>
  </div>
</div>
