= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .field
    %p Titulo:
    = f.text_field :title, :style => "width: 100%;font-size: 2em;"
  .field
    %p Cuerpo:
    = f.text_area :body, :style => "width: 100%;font-size: 1.2em;"
  .actions
    = f.submit 'Guardar', :class => "btn btn-success"
