- @statics.take(1).each do |article|
  %h2.text-center.text-bold.small-caps
    =truncate(article.title,length:40)
  %p.text-justify 
    =article.body
%p.text-right.link-blue= link_to 'David A. López', users_show_path, :target => "_blank"
%span.small-caps.text-bold.link-blue
  - @statics.drop(1).each do |article|
    = link_to '-'+truncate(article.title,length:30), article
  - @articles.each do |article|
    -if article.id != 1 && article.id != 2
      = link_to '-'+truncate(article.title,length:30), article
= will_paginate @articles, :previous_label => "anterior", :next_label => "siguiente"
%p.text-bold.link-blue.text-center.small-caps= link_to '-admin panel-', users_show_path, :target => "_blank"
