<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <h2>Registrar Cliente</h2>

  </div>
  <div class="col-md-3">

  </div>
</div>
<%= form_for @user, method: :post, url: create_user_path do |f| %>
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :nombre %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.text_field :first_name, class: 'form-control', required: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :apellidos %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.text_field :last_name, class: 'form-control', required: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', required: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :email %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.email_field :email, class: 'form-control', required: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :telefono %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.number_field :phone, class: 'form-control', required: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :direccion %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.text_field :address, class: 'form-control', required: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :fecha_de_nacimiento %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.date_field :birth_date, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.submit "Guardar", class: 'btn btn-primary'%>
            <%= button_to "Cancel",
                new_user_session_path,
                class: 'btn btn-danger' %>
          </div>
        </div>
        <div class="col-md-3">

        </div>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
<% end %>
