.jumbotron 
  %h2.text-center Lista de Solicitudes
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th Nombre
          %th Teléfono
          %th Dirección
          %th Problema
          %th Correo
          %th 
          %th 

      %tbody
        - @contacts.each do |contact|
          %tr
            %td= truncate(contact.full_name,length:10)
            %td= truncate(contact.phone,length:10)
            %td= truncate(contact.address,length:10)
            %td= truncate(contact.problem,length:15)
            %td= truncate(contact.email,length:10)
            %td= link_to 'Ver', contact, :class => "btn btn-info"
            %td= link_to 'Eliminar', contact, :method => :delete, :data => { :confirm => '¿Estas seguro?' }, :class => "btn btn-danger"
  = will_paginate @contacts, :previous_label => "anterior", :next_label => "siguiente", :class => "text-center"