%p#notice= notice
.container
  .col-xs-10.jumbotron.col-xs-offset-1
    %p
      %b Nombre:
      = @contact.full_name
    %p
      %b Correo:
      = @contact.email
    %p
      %b Teléfono:
      = @contact.phone
    %p
      %b Dirección:
      = @contact.address
    %p
      %b Problema:
      = @contact.problem
    .text-right
      - if @contact.may_revise?
        = link_to 'Listo', "/contacts/#{@contact.id}/revise", method: :put, class: 'btn btn-success ', :data => { :confirm => '¿Estas seguro?' }

      = link_to 'Volver atrás', :back, :class => "text-center", :class => "btn btn-danger"


