=render partial: "layouts/user_menu"

%p#notice= notice

%p
  %b Full name:
  = @contact.full_name
%p
  %b Email:
  = @contact.email
%p
  %b Phone:
  = @contact.phone
%p
  %b Address:
  = @contact.address
%p
  %b Problem:
  = @contact.problem

\|
= link_to 'Back', contacts_path
