%p#notice= notice
.container
  .col-xs-10.jumbotron.col-xs-offset-1
    %p
      %b Nombre:
      = @contact.full_name
    %p
      %b Correo:
      = @contact.email
    %p
      %b Teléfono:
      = @contact.phone
    %p
      %b Dirección:
      = @contact.address
    %p
      %b Problema:
      = @contact.problem

= link_to 'Volver atrás', contacts_path, :class => "text-center"

