<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hola Admin</h3>
    <p>Estos son los servicios que se deben atender en el día de mañana:</p>
    <% @services.each do |service| %>
      <div>
        <p>
          <h4>Usuario: </h4> <%= service.user_name %>
          <br>
          <h4>Dirección: </h4> <%= service.user_address %>
          <br>
          <h4>Teléfono: </h4> <%= service.user_phone %>
        </p>
      </div>
      <div>
        <p>
          <h4>Dispositivo: </h4> <%= service.appliance_type %>
          <br>
          <h4>Marca: </h4> <%= service.appliance_brand_name %>
          <br>
          <h4>Modelo: </h4> <%= service.appliance_model %>
          <br>
          <h4>Último valor cobrado: </h4> <%= service.cost %>
        </p>
      </div>
      <br>
      <br>
      --------------------------------------------------------------------------------
    <% end %>
  </body>
</html>
