= form_for @contact do |f|
  %h2.text-center.text-white.text-bold ¡Contáctenos!
  .row
    .col-md-6
      .field
        = f.text_field :full_name, :type => "text", :required => true, :placeholder => "Nombre(s)"
      .field
        = f.text_field :email, :type => "email", :placeholder => "Correo electrónico"
      .field
        = f.text_field :phone, :type => "text", :required => true, :placeholder => "Número teléfonico"
      .field
        = f.text_field :cellphone, :type => "text", :required => true, :placeholder => "Celular"
      .field
        = f.text_field :address, :type => "text", :required => true, :placeholder => "Dirección"
      .field
        = f.text_field :municipality, :type => "text", :required => true, :placeholder => "Municipio"
    .col-md-6
      .field
        = f.text_field :neighborhood, :type => "text", :required => true, :placeholder => "Barrio"
      .field
        = f.text_field :urbanization, :type => "text", :required => true, :placeholder => "Urbanización"
      .field
        = f.text_field :apartment, :type => "text", :required => true, :placeholder => "Casa/Apartamento"
      .field
        = f.text_field :appliance, :type => "text", :required => true, :placeholder => "Electrodoméstico"
      .field
        = f.text_field :brand, :type => "text", :required => true, :placeholder => "Marca"
  .row
    .col-md-12  
      .field
        = f.text_area :problem, :type => "text", :required => true, :placeholder => "Breve descripción del problema.."
    .col-md-12.actions
      = f.submit 'enviar', :class => "text-bold text-center small-caps"
