%table
  %tr
    %th
      next
    %th
      id
    %th
      costo
    %th
      comentario
    %th
      estado   
    
  - @services.each do |service|
    -unless service.state == "completed"
      %tr
        %td
          = service.next_service_date
        %td
          = link_to service.appliance_id, appliance_path(id: service.appliance.id), method: :get
        %td
          = service.cost
        %td
          = service.comments
        %td
          = service.state
