%h1 Dailys#index
%p Find me in app/views/dailys/index.html.haml
%table
  %tr
    %th
      next
    %th
      id
    %th
      costo
    %th
      comentario
    %th
      estado   
    
  - @services.each do |service|
    %tr
      %td
        = service.next_service_date
      %td
        = link_to service.appliance_id, appliance_path(id: service.appliance.id), method: :get
      %td
        = service.cost
      %td
        = service.comments
      %td
        = service.state
