<br />
<br />
<div class="col-xs-12">
  <%= image_tag('logo.png') %>
  <br />
  <br />
  <br />
  <br />          
</div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 jumbotron">
    <div class="row text-center">
      <h2>¿Olvidaste tu contraseña?</h2>
      <div class="col-xs-10 col-xs-offset-1">
        <div class="field">
          <%= f.label :email %>:<br />
          <%= f.email_field :email, autofocus: true %>              
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1">
        <div class="actions">
          <br />
          <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <%= link_to "Iniciar Sesión", new_session_path(resource_name), :class => 'text-center' %>
  </div>
<% end %>